@model stockTrackingSystem.Models.UserInfo
@{
    Layout = null;
}
<link href="~/Content/bootstrap.min.css" rel="stylesheet" />


    <div class="container">
        <br />
        <h2>Register</h2>
        <div class="tox-form-group col-md-3" container>
            <form method="post">

                <label>Name: </label>
                <input type="text" name="Name" class="form-control" required />



                <label>Last Name: </label>
                <input type="text" name="LastName" class="form-control" required />


                <label>eMail: </label>
                <input type="text" name="eMail" class="form-control" required />


                <label>UserName: </label>
                <input type="text" name="UserName" class="form-control" required />


                <label>Password: </label>
                <input type="text" name="Password" class="form-control" required />

                <label>Password Again: </label>
                <input type="text" name="PasswordAgain" class="form-control" required />

                <br/>

                <button class="btn btn-secondary">Register</button>

            </form>
        </div>
</div>


