@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";

}

<div class="container">
    <div class="jumbotron">
        Welcome to <strong>Product Stock Tracking System</strong>, @Session["Name"] @Session["LastName"].
    </div>

</div>



